body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

body.light {
  background-color: #f4f4f4;
  color: #333;
}

body.dark {
  background-color: #121212;
  color: #f4f4f4;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #004080;
  color: white;
  padding: 1rem;
}

.user-controls {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.board-selector {
  padding: 1rem;
  background-color: #004080;
  color: white;
}

.taskboard {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.column {
  background-color: #ffffff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  transition: background-color 0.3s, color 0.3s;
}

.column h3 {
  margin: 0 0 1rem;
}


body.dark .column {
  background-color: #1e1e1e; 
  color: #fff; 
}

.task {
  background-color: #f0f0f0;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}


body.dark .task {
  background-color: #333333; 
  color: #fff; 
}

.add-column-button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #004080;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-column-button:hover {
  background-color: #003366;
}


body.dark button {
  background-color: #444; 
  color: #f4f4f4; 
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}

button:hover {
  opacity: 0.8;
}
